[Desktop Entry]
Type=Application
Name=Vole
Comment=Assemble and simulate teaching machines
Exec=vole
Icon=vole
Terminal=false
Categories=Development;Education;
StartupWMClass=dev.vole.Workbench
